<%= link_to ad["link"], class: "Offer--wrapper" do %>
  <div class="Offer">
    <div class="Description">
      <span class="Description--title"><%= ad["title"] %></span>
      <span class="Description--subtitle"><%= ad["subtitle"] %></span>
    </div>
    <div class="Product">
      <div class="Product--image-wrapper">
        <%= image_tag(ad["image"], class: "Product--image") %>
      </div>
      <div class="Product--price">
        <span class="Price--timeframe">Today Only</span>
        <span class="Price--amount">
          <b class="Price--currency">$</b>
          <%= ad["price-dollars"] %>.<sup class="Price--cents"><%= ad["price-cents"] %></sup>
        </span>
        <span class="Price--list">(<%= ad["price-list"] %>)</span>
      </div>
    </div>
  </div>
  <div class="Countdown--wrapper">
    <div class="Countdown"></div>
    <span class="Button Button--christmas">Buy Now</span>
  </div>
<% end %>