<% #Ads from YAML %>
<% @ads.each do |ad| %>
	<%= render partial: "ad", locals: { ad: ad } %>
<% end %>

<% #Individual Ad %>
<% ad = {"title"=>"All of Dave's Most Popular Products at a Huge Discount!", "subtitle"=>"The All-in-One Value Pack", "image"=>"http://a248.e.akamai.net/f/1611/26335/9h/dramsey.download.akamai.com/23572/daveramsey.com/media/3_way_universal/christmas/2014/products/starter_special.png", "link"=>"/store", "price-dollars"=>89, "price-cents"=>95, "price-list"=>257.52} %>
<%= render partial: "ad", locals: { ad: ad } %>